.blocks-box.blocks-2 {
  height: 16px;
  line-height: calc(16px - 2px);
  font-size: 10px;
}
.blocks-box.blocks-3 {
  height: 24px;
  line-height: calc(24px - 2px);
  font-size: 12px;
}
.blocks-box.blocks-4 {
  height: 32px;
  line-height: calc(32px - 2px);
  font-size: 14px;
}
.blocks-box.blocks-5 {
  height: 40px;
  line-height: calc(40px - 2px);
  font-size: 16px;
}
.blocks-box.blocks-6 {
  height: 48px;
  line-height: calc(48px - 2px);
  font-size: 20px;
}
