[class*="form-element"],
[class*="form-element"] * {
  display: inline-block;
  background: transparent;
  font-size: 100%;
  font-family: inherit;
  line-height: 1.715em;
  vertical-align: middle;
  padding: 3px .5em;
  border-radius: .25em;
  border: 1px solid #ddd;
}

[class*="form-element"]:focus {
  color: #999;
}


/*--------------------------------------------------
    Scaling — absolute
--------------------------------------------------*/

.form-element--2u,
.form-element--2u * {
  font-size: 10px;
  line-height: 14px;
  padding-top: 0;
  padding-bottom: 0;
}

.form-element--3u {
  font-size: 12px;
  line-height: 16px;
}

.form-element--4u {
  font-size: 14px;
  line-height: 24px;
}

.form-element--5u {
  font-size: 18px;
  line-height: 32px;
}

.form-element--6u {
  font-size: 22px;
  line-height: 40px;
}


/*--------------------------------------------------
    Scaling — relative
--------------------------------------------------*/

.form-element--2ru,
.form-element--2ru * {
  font-size: .714em;
  line-height: 1.25em;
  padding-top: 0;
  padding-bottom: 0;
}

.form-element--3ru {
  font-size: .857em;
  line-height: 1.334em;
}

.form-element--5ru {
  font-size: 1.286em;
  line-height: 1.778em;
}

.form-element--6ru {
  font-size: 1.571em;
  line-height: 1.819em;
}
