.form-element {
  /* display: block; */
  display: inline-block;
  vertical-align: middle;
  /* width: 100%; */
  /* padding: 4px 10px; */
  /* font-size: 14px; */
  /* line-height: 22px; */
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 4px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

/* default */
.form-element {
  font-size: 14px;
  padding: 4px 10px;
  line-height: 22px;
}
select.form-element:not([size]):not([multiple]) {
  height: 32px;
}

.form-element--2u {
  font-size: 10px;
  padding: 0px 6px;
  line-height: 14px;
}
select.form-element--2u:not([size]):not([multiple]) {
  height: 16px;
}

.form-element--3u {
  font-size: 12px;
  padding: 2px 8px;
  line-height: 18px;
}
select.form-element--3u:not([size]):not([multiple]) {
  height: 24px;
}

.form-element--4u {
  padding: 4px 10px;
  font-size: 14px;
  line-height: 22px;
}
select.form-element--4u:not([size]):not([multiple]) {
  height: 32px;
}

.form-element--5u {
  padding: 6px 12px;
  font-size: 18px;
  line-height: 26px;
}
select.form-element--5u:not([size]):not([multiple]) {
  height: 40px;
}

.form-element--6u {
  padding: 8px 16px;
  font-size: 20px;
  line-height: 30px;
}
select.form-element--6u:not([size]):not([multiple]) {
  height: 48px;
}
